ENVIRONMENT=development
NODE_ENV=production

# Aragon database
#MONGO_DB_URI=YOUR_VALUE_HERE

# Aragon gateway API key used for the IPFS service
#ARAGON_GATEWAY_IPFS_API_KEY=YOUR_VALUE

# Covalent
#COVALENT_API_KEY=YOUR_VALUE

# Dune
#DUNE_API_KEY=YOUR_VALUE
