ENVIRONMENT=development
NODE_ENV=production

# Aragon database
MONGO_DB_URI=mongodb://localhost:27017,localhost:27018,localhost:27019?replicaSet=rs&retryWrites=true
MONGO_DB_NAME=db-aragon

# Environment suffix for docker services
ENV_SUFFIX=dev

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Service ports
SERVICES_API_PORT=3000
SERVICES_ADMIN_API_PORT=3001

# Aragon gateway API key used for the IPFS service
#ARAGON_GATEWAY_IPFS_API_KEY=YOUR_VALUE

# Covalent
#COVALENT_API_KEY=YOUR_VALUE

# Dune
#DUNE_API_KEY=YOUR_VALUE